@import '~common/stylus/variable'

.tabbar .van-tabbar-item__icon img
    width 24px
    height auto
.tabbar .van-tabbar-item__text span 
    font-size 14px
.tabbar .van-tabbar
    height 70px
    border-top-left-radius 20px
    border-top-right-radius 20px
    // box-shadow 0 3px 10px 0 #3748ce
    border-bottom none
.city-menu .van-dropdown-menu__bar
    background: $color-background 
    border none
    box-shadow none
    height 54px
.van-dropdown-item--down
    background rgba(0, 0, 0, .1)
.van-dropdown-item__content
    background none
.van-dropdown-item__option
    background none
    color $color-text
.van-search
    padding 5px 6px
.van-search__content--round
    background -webkit-gradient(linear, 0 0, 100% 100%, from(#eedfeb), to(#dadcf0));
.van-field
    height 44px
    line-height 36px
.valid-code .van-field__value,.valid-code .van-field__button,.valid-code img
    width 94px
    height 34px
.recomment-slider .van-swipe-item
    background $color-background 
    color $color-text
.van-sticky
    background $color-background 
.dashboard .van-cell, .dashboard .van-cell-group
    background  $color-text
.dashboard .van-cell, .dashboard .van-cell-group:after  
     border none
.dashboard .van-icon__image
    width: 26px
    height 26px
.dashboard .van-cell .van-cell__title
    font-size 24px
    font-weight bolder
    padding-left 5px
.dashboard .van-button 
    width 60px
    background: -webkit-gradient(linear, 0 0, 100% 100%, from(#283bc8), to(#6a75df));
    border none
// .dashboard .van-circle
//     margin-left 40px
.dashboard .slider-box0,
.dashboard .slider-box1,
.dashboard .slider-box2
    width 80%
    margin 0 auto
.dashboard .slider-box0
    background #e4edfd
.dashboard .slider-box1
    background #ffe2e9
.dashboard .slider-box2
    background #ffefd6
.van-dialog__header    
    color #000000
.van-uploader__preview-image
    border-radius 40px
.company-detail .company-intro .van-field__body,
.open-text .van-field__body
    background #ffffff
    border-radius 20px
    // box-shadow 0 2px 4px 0 #4a4c50
.company-detail .van-dropdown-menu__bar
    background none
    box-shadow none
.company-detail .van-dropdown-menu__item
    justify-content flex-start
    background none
.company-detail .van-dropdown-menu__title
    padding 0 20px
.comp-text .van-field__control,
.open-text .van-field__control
    padding 10px
.delivery-card .van-image__img
    border-radius 10px
.card-content .van-image__img
    border-radius 50%
.van-share-sheet__cancel
  color #000000
.ring-echart .van-circle
    padding 15px
    width 70px!important
    height 100px!important
.ring-echart-resume .van-circle
    width 100px!important
.ring-echart .van-circle__layer
    stroke-width 120px!important
.ring-echart .van-circle__hover
    stroke-width 60px!important
.login-tabs .van-hairline--top-bottom::after, 
.login-tabs .van-hairline-unset--top-bottom::after
    border none
.login-tabs .van-tabs__line
    width 40px!important
.upResume
  padding 16px
.upResume .van-uploader,
.upResume .van-uploader__input-wrapper
  width 100%!important
.upResume .van-uploader__input-wrapper .van-button
    padding 22px
    font-size: 16px
.userType .van-field__label
    width 3.5rem
.userCode .van-field__label
    width 4.4rem
.userType .van-field__body
    margin-top: 6px
.all-message .van-tabs--line .van-tabs__wrap
    height 48px
